/* CSS reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-bar{
    height: 120px;
    background-color: #2c3e50;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    font-weight: bold;
}
/* this is for the messages page */
.nav-bar > h1{
    font-size: xx-large;
}

.hamburger-menu{
    background-color: #1abc9c;
    visibility: hidden;
    position: absolute;
    border-radius: 10px;
    border: 0;
    color: white;
    font-size: 16px;
    height: 50px;
    width: 80px;
}

.nav-bar > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1500px;
}

.nav-bar > *{
    color: white;
}

.nav-bar > div > ul{
    display: flex;
    list-style: none;
}

.nav-bar a{
    text-decoration: none;
    color: white;
    padding: 25px;
    font-size: 20px;
}

.nav-bar > div > h1 > a{
    font-size: 1.75em;
}

.main-section{
    height: 828px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1abc9c;
    color: white;
}

.main-section > div {
    text-align: center;
}

.main-section > div > img{
    height: 300px;
    width: 240px;
    margin: 200px 0 0 0;
}

.main-section > div > h1{
    font-size: 80px;
}

.delimiter{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

.delimiter > div{
    height: 1px;
    border: 2px solid white;
    width: 112px;
    background-color: white;
    border-radius: 5px;
    margin: 20px;
}

.main-section > div > p{
    font-size: 30px;
}

.main-section > div > *{
    margin: 20px 0;
}

.portfolio-container{
    text-align: center;
    padding: 100px 0 50px 0;
}

.portfolio-container > h1{
    font-size: 55px;
    padding-bottom: 5px;
}

.portfolio-container > div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin-bottom: 20px;
}

.second-font{
    color: #2c3e50;
}

.second-font > div{
    background-color: #2c3e50;
    border: 2px solid #2c3e50;
}

.portfolio-container > div:last-child{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.portfolio-container > div:last-child > img{
    width: 450px;
    height: 290px;
    margin: 20px;
    border-radius: 10px;
}

.about-container{
    background-color: #1abc9c;
    color: white;
    text-align: center;
    padding: 100px 0;
}

.about-container > h1{
    font-size: 60px;
}

.about-container > div:nth-child(3){
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.about-container > div:nth-child(3) > p{
    width: 30%;
    font-size: 25px;
    margin: 10px;
}

.about-container > div:last-child{
    height: 75px;
    width: 300px;
    margin: auto;
    border: 2px solid white;    
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.about-container > div > a > img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.about-container > div > a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.contact-section{
    text-align: center;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-section > h1{
    font-size: 60px;
}

.contact-section > div:last-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    width: 750px;
}

.inputs{
    font-size: 30px;
    padding: 20px 0;
    border: 0;
    border-bottom: 1px solid lightgray;
    width: 100%;
    margin: 20px;
    max-width: 100%;
    min-width: 100%;
}

.inputs:focus{
    outline: none;
}

.contact-section > div:last-child > button{
    background-color: #69d3be;
    color: white;
    align-self: flex-start;
    height: 60px;
    width: 100px;
    border-radius: 10px;
    border: 0;
    font-size: 20px;
    margin-bottom: 100px;
}

.footer-container{
    background-color: #2c3e50;
    padding: 100px 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container > div{
    display: flex;
}

.footer-container > div > div{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 450px;
    text-align: center;
}

.footer-container > div > div > h3{
    font-size: 30px;
    margin-bottom: 30px;
}

.footer-container > div > div > p{
    font-size: 22px;    
}

.footer-container > div > div > p > a{
    color: #1abc9c;   
}

.copyright{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a252f;
    color: white;
}

.bad-input{

    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

.bad-format{
    background-color: red;
}

.good-format{
    background-color: lightgreen;
}

.hide-element{
    visibility: hidden;
    position: absolute;
}


.messages-container > div{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    padding: 20px 10px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    color: #2c3e50;
    background-color: #1abc9c;
    border-radius: 15px;
}

.messages-container > div:first-child{
    padding-top: 150px;
}

.messages-container > idv > label:last-child{
    width: 30%;
}

@media only screen and (max-width: 1500px){
    .nav-bar > div{
        width: 1200px;
    }

    .portfolio-container > div:last-child > img{
        width: 350px;
        height: 260px;
        margin: 10px;
    }

    .footer-container > div > div{
        width: 400px;
    }

}

@media only screen and (max-width: 1300px){
    .portfolio-container > div:last-child > img{
        width: 305px;
        height: 215px;
        margin: 10px;
    }
}

@media only screen and (max-width: 1200px){
    .nav-bar > div{
        width: 1100px;
    }

    .contact-section > div:last-child{
        width: 650px;
    }

    .footer-container > div > div{
        width: 320px;
    }
}

@media only screen and (max-width: 990px){
    .main-section > div > h1{
        font-size: 50px;
    }

    .main-section > div > p{
        font-size: 25px;
    }

    .main-section > div > img{
        margin: 150px 0 0 0;
    }

    .portfolio-container > div:last-child > img{
        width: 330px;
        height: 240px;
        margin: 10px;
    }

    .about-container > div:nth-child(3){
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-container > div:nth-child(3) > p{
        width: 80%;
    }

    .contact-section > div:last-child{
        width: 700px;
    }

    .footer-container > div{
        flex-direction: column;
    }

    .footer-container > div > div{
        width: 700px;
    }

    .hamburger-menu{
        visibility: visible;
        position: static;
    }

    .nav-bar ul{
        visibility: hidden;
        position: absolute;
    }

    .nav-bar > div{
        width: 700px;
    }

    .nav-bar > div > h1{
        font-size: 18px;
    }
}

@media only screen and (max-width: 770px){
    .nav-bar > div{
        width: 500px;
    }

    .nav-bar > div > h1{
        font-size: 16px;
    }

    .portfolio-container > div:last-child > img{
        width: 400px;
        height: 290px;
        margin: 20px;
    }

    .contact-section > div:last-child{
        width: 500px;
    }

    .footer-container > div > div{
        width: 500px;
    }
}

@media only screen and (max-width: 570px){
    .nav-bar > div{
        width: 100%;
    }

    .hamburger-menu{
        margin-right: 10px;
    }

    .contact-section{
        padding: 0 15px;
    }

    .contact-section > div:last-child{
        width: 100%;
    }

    .footer-container > div > div{
        width: 100%;

    }
}