/* CSS reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-bar{
    height: 120px;
    background-color: #2c3e50;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    font-weight: bold;
    
}

.nav-bar > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
}

.nav-bar > *{
    color: white;
}

.nav-bar > div > ul{
    display: flex;
    list-style: none;
}

.nav-bar a{
    text-decoration: none;
    color: white;
    padding: 25px;
    font-size: 20px;
}

.nav-bar > div > h1 > a{
    font-size: 1.75em;
}

.main-section{
    height: 828px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1abc9c;
    color: white;
}

.main-section > div {
    text-align: center;
}

.main-section > div > img{
    height: 300px;
    width: 240px;
    margin: 200px 0 0 0;
}

.main-section > div > h1{
    font-size: 80px;
}

.delimiter{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

.delimiter > div{
    height: 1px;
    border: 2px solid white;
    width: 112px;
    background-color: white;
    border-radius: 5px;
    margin: 20px;
}

.main-section > div > p{
    font-size: 30px;
}

.main-section > div > *{
    margin: 20px 0;
}

.portfolio-container{
    text-align: center;
    padding: 100px 0 50px 0;
    color: #2c3e50;
}

.portfolio-container > h1{
    font-size: 55px;
    padding-bottom: 5px;
}

.portfolio-container > div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin-bottom: 20px;
}

.portfolio-container > div > div{
    height: 1px;
    background-color: #2c3e50;
    border: 2px solid #2c3e50;
    width: 112px;
    margin: 20px;
    border-radius: 5px;
}

.portfolio-container > div:last-child{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.portfolio-container > div:last-child > img{
    width: 450px;
    height: 290px;
    margin: 20px;
    border-radius: 10px;
}

.about-container{
    background-color: #1abc9c;
    color: white;
    text-align: center;
    padding: 100px 0;
}

.about-container > h1{
    font-size: 60px;
}

.about-container > div:nth-child(3){
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.about-container > div:nth-child(3) > p{
    width: 30%;
    font-size: 25px;
    margin: 10px;
}

.about-container > div:last-child{
    height: 75px;
    width: 300px;
    margin: auto;
    border: 2px solid white;    
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.about-container > div > a > img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.about-container > div > a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}

@media only screen and (max-width: 1500px){
    .nav-bar > div{
        width: 1100px;
    }

    .portfolio-container > div:last-child > img{
        width: 350px;
        height: 260px;
        margin: 10px;
    }
}

@media only screen and (max-width: 1300px){
    .portfolio-container > div:last-child > img{
        width: 305px;
        height: 215px;
        margin: 10px;
    }
}

@media only screen and (max-width: 1200px){
    .nav-bar > div{
        width: 900px;
    }
}

@media only screen and (max-width: 990px){
    .main-section > div > h1{
        font-size: 50px;
    }

    .main-section > div > p{
        font-size: 25px;
    }

    .main-section > div > img{
        margin: 150px 0 0 0;
    }

    .portfolio-container > div:last-child > img{
        width: 330px;
        height: 240px;
        margin: 10px;
    }

    .about-container > div:nth-child(3){
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-container > div:nth-child(3) > p{
        width: 80%;
    }
}

@media only screen and (max-width: 770px){
    .portfolio-container > div:last-child > img{
        width: 400px;
        height: 290px;
        margin: 20px;
    }
}